{% extends "comercio/base.html" %}
{% load static %}

{% block page_title %}Listado de Productos{% endblock %}

{% block dashboard_content %}
    <!-- Incluye la barra de búsqueda -->
    {% include "comercio/views/search_filters.html" %}
    
    <!-- Grid de productos -->
    <div class="container-fluid mt-4">
        <!-- Botones flotantes -->
        <div class="action-buttons">
            <button class="btn btn-solid-orange btn-circle mb-4" data-bs-toggle="modal" data-bs-target="#addProductModal">
                <i class="bi bi-plus-lg"></i>
            </button>
            <button class="btn btn-black-edit btn-circle" onclick="enableEditMode()">
                <i class="bi bi-pencil"></i>
            </button>            
        </div>

        <!-- Listado de productos -->
        <div class="row justify-content-center row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-5 g-1">
            {% for producto in productos %}
                {% include "comercio/views/product_card.html" with producto=producto %}
            {% endfor %}
        </div>
    </div>

    <!-- Incluye los modals -->
    {% include "comercio/productos/includes/modals.html" %}
{% endblock %}