<!-- Modal para agregar producto -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Agregar Nuevo Producto</h5>
                <button type="button" class="btn-close custom-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="productSKU" class="form-label">SKU</label>
                        <input type="text" class="form-control" id="productSKU" required>
                    </div>
                    <div class="mb-3">
                        <label for="productCode" class="form-label">Código de Barra</label>
                        <input type="text" class="form-control" id="productCode" required>
                    </div>
                    <!-- Campo de Categoría -->
                    <div class="mb-3">
                        <label for="productCategory" class="form-label">Categoría</label>
                        <select class="form-select" id="productCategory" required>
                            <option value="">Seleccione una categoría</option>
                            <option value="1">Instrumentos musicales</option>
                            <option value="2">Amplificadores</option>
                            <option value="3">Estudio de Grabación</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="productName" class="form-label">Nombre del Producto</label>
                        <input type="text" class="form-control" id="productName" required>
                    </div>
                    <div class="mb-3">
                        <label for="productAbrName" class="form-label">Nombre Abreviado</label>
                        <input type="text" class="form-control" id="productAbrName" required>
                    </div>
                    <div class="mb-3">
                        <label for="productDescp" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="productDescp" required>
                    </div>
                    <div class="mb-3">
                        <label for="productPrice" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="productPrice" required>
                    </div>                        
                    <div class="mb-3">
                        <label for="productImage" class="form-label">Imagen del Producto</label>
                        <input class="form-control" type="file" id="productImage">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-solid-orange" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-black-edit">Guardar Producto</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edición -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"> <!-- -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Editar Producto</h5>
                <button type="button" class="btn-close custom-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editProductForm">
                    <div class="mb-3">
                        <label for="editProductSKU" class="form-label">SKU</label>
                        <input type="text" class="form-control" id="editProductSKU" required readonly>
                    </div>
                    <div class="mb-3">
                        <label for="editProductCode" class="form-label">Código de Barra</label>
                        <input type="text" class="form-control" id="editProductCode" required readonly>
                    </div>
                    <!-- Campo de Categoría -->
                    <div class="mb-3">
                        <label for="productCategory" class="form-label">Categoría</label>
                        <select class="form-select" id="productCategory" required>
                            <option value="">Seleccione una categoría</option>
                            <option value="1">Instrumentos musicales</option>
                            <option value="2">Amplificadores</option>
                            <option value="3">Estudio de Grabación</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="editProductName" class="form-label">Nombre del Producto</label>
                        <input type="text" class="form-control" id="editProductName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editProductAbrName" class="form-label">Nombre Abreviado</label>
                        <input type="text" class="form-control" id="editProductAbrName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editProductDescp" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="editProductDescp" required>
                    </div>
                    <div class="mb-3">
                        <label for="editProductPrice" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="editProductPrice" required>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="editProductAvailable">
                        <label class="form-check-label" for="editProductAvailable">Disponible</label>
                    </div>
                        
                    <div class="mb-3">
                        <label for="editProductImage" class="form-label">Imagen del Producto</label>
                        <input class="form-control" type="text" id="editProductImage">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-solid-orange px-4 py-2" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-black-edit px-4 py-2">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>