{% extends "comercio/nav_bar_footer.html" %}
{% load static %}

{% block productos_content %}
    
    {% block search_filter_content %}
        <!-- Contenido de search filters -->
        <p>Search filter | Menú desplegable</p>    
    {% endblock %}

    {% block product_cards_content %}
        <!-- Contenido de cards productos -->
        
    {% endblock %}

{% endblock %}

{% block extra_js %}
    <!-- Script adicional para esta vista -->
    <!-- <script src="{% static 'js/dashboard-script.js' %}"></script> -->
{% endblock %}